@charset "utf-8";
/* CSS Document */


/* over all css */

.hidden
{
	display: none;
}

.container
{
	max-width: 1140px;
	margin: 0 auto;
}

/* Responcive body moble */
@media screen and (max-width: 640px) {
	.box {
		flex: 1 1 150px;
		margin: 10px;
	}
	.wrapper {
		display: flex;
		flex-direction: column;
	}
	.column1
	{
		background-color: pink;
	}

	.column2
	{
		background-color: red;
	}

	.column3
	{
		display: none;
	}

	.column4
	{
		display: none;
	}

}

/* full screen 641+ build up */

@media screen and (min-width: 641px) {
	.wrapper {
		display: flex;
		flex-direction: row;
	}

	.box {
		margin: 10px;
		flex-grow: 1;
		height: 300px;
	}
	.column1
	{
		background-color: blue;
	}

	.column2
	{
		background-color: purple;
	}

	.column3
	{
		background-color: grey;
	}

	.column4
	{
		background-color: brown;
	}

}




